/*
    HTML框架設計
    <div class="Card">
        <div class="CardContent">
            <div class="ImagesBox">
                <img src="" alt="">
            </div>
            <h3></h3>
            <p></p>
        </div>
    </div>
*/  
@use '../../_01Joint/_03variable' as Var; 
                 

@mixin Cards() {
    .Card {
        width: 100%;
        .CardContent {
            // 固定單位px
            width: 280px;
            padding: 15px;
            // 讓物件在畫面正中央
            margin: 30px auto;
            // 盒子陰影(px):水平位移 垂直位移 模糊 顏色
            box-shadow:  5px 5px 6px #0000003a;
            background-color: #ffffff;
            display: flex;
            // 水平垂直置中
            justify-content: center;
            align-items: center;
            // 換行
            flex-wrap: wrap;
            // background-color: bisque;
            .ImagesBox {
                padding: 0 0 15px 0;
                @extend %Width100;
                display: flex;
                justify-content: center;
                align-items: center;
                // 邊框底線:粗細 樣式 顏色
                border-bottom: 1.5px solid black;
                
                img {
                    width: 100%;
                    
                }
            }
            h3 {
                @extend %Width100;
                text-align: center;
                margin: 10px 0;
                font-size: 1.3rem;
                letter-spacing: 2px;
            }
            P {
                @extend %Width100;
                font-size: 1.1rem;
                // 文字對齊:左右切齊尾行靠左
                text-align: justify;
                // 行距
                line-height: 1.5;
                // 字距(中文字和英文單字)
                letter-spacing: 1.5px;
                // 溢出文字顯示方式需用瀏覽器相容性的樣式撰寫 建立一個彈性內容
                display: -webkit-box;
                // 垂直排列
                -webkit-box-orient: vertical;
                // 限制顯示行數
                -webkit-line-clamp: 3;
                // 隱藏溢出內容
                overflow: hidden;
                // 用省略符號表示溢出
                text-overflow: ellipsis;    
            }
            .AST {
                text-align: center;
            }
        }
    }
}